.body {
    background-color: rgb(127, 127, 161);
}

.chat {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 200px; /* Vertically centers text */
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.disease_find {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 200px; /* Vertically centers text */
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.h1 {
    background-color: coral;    
}