.title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
    height: 10%;
}
.message {
    font-size: 40px;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}

.start-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}